<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form">
  <div class="form-group" [ngClass]="{'has-error': (!content.valid && content.touched), 'has-success': (content.valid && content.touched)}">
    <quill-editor class="form-control" [formControl]="content" [options]="editorConfig"></quill-editor>
  </div>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>